<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YOUR LOGO</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.php?module=main">HOME</a></li>
                    <li><a href="index.php?module=products&view=create_products">CREATE PRODUCTS</a></li>
                    <li><a href="index.php?module=products_frontend&view=list_products">LIST PRODUCTS</a></li>
                    <li><a href="index.php?module=services">SERVICES</a></li>
                    <li><a href="index.php?module=portfolio">PORTFOLIO</a></li>
                    <li><a href="index.php?module=pricing">PRICING</a></li>
                    <li><a href="index.php?module=contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.NAVBAR END-->
